<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsj.common.mapper.AtsTestMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.hsj.common.entity.AtsTest">
		<id column="id" property="id" />
		<result column="delete_status" property="deleteStatus" />
		<result column="name" property="name" />
	</resultMap>

</mapper>
